#
# This is an example of a YAML sidecar metadata file.
#

# A universally unique URI that will never change. We recommend using a UUID.
id: "{{ id }}"

# The title of your post.
title: "Hello World"

# When your post was originally published.
published: "{{ timestamp }}"

# When your post was last updated.
updated: "{{ timestamp }}"
